<!--
 Page titre avec barre de navigation
 Paramètres :
 title : titre de la page (str)
-->
<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block css %}
  {% endblock %}
      <title>
         {% if title is defined %}
            {{ title }} - Mon Application
        {% else %}
             Bienvenue dans Mon Application
        {% endif %}
     </title>
  </head>
  <body>
    <header class="w3-display-container w3-blue-grey" >
        <div class="w3-display-left" >
             <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
        </div>
         <div class=" w3-display-middle top title">
             <b>
                 {% if title is defined %}
                    {{ title }} - Mon Application
                 {% else %}
                    Bienvenue dans Mon Application
                 {% endif %}
             </b>
         </div>
    </header>

    <h2 class="w3-display-container w3-blue-grey">
      <a class="w3-button" href="{{ url_for('index') }}">Accueil</a>
      <a class="w3-button" href="{{ url_for('a_propos') }}">A Propos</a>
      <a class="w3-button" href=" {{ url_for('login') }}">Se connecter</a>
    </h2>

    <main>
        {% block contenu %}
        {% endblock %}
     </main>

    <!-- Affichage des messages enregistrés par la fonction flash(...) -->
     {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
         </ul>
         {% endif %}
     {% endwith %}

    <footer class="w3-display-bottom-middle w3-blue-grey">Copyright 2022 ©</footer>
  </body>
</html>