<!--
 Page affichant un mot de bienvenu avec le nom de l’utilisateur
 Paramètres :
 user : dictionnaire possédant la clé 'username'
-->
{% extends "base.html" %}

<!-- On définit le contenu du block -->
{% block contenu %}
 <!-- Ici, on se concentre uniquement sur le contenu de la page -->
 <h1>Bonjour {{ current_user.username }}</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }} <br/>
            {{ form.post }}
            {% for error in form.post.errors %}
                <span class="erreur"> {{ error }} </span>
            {% endfor %}
        </p>
         <p>
            {{ form.submit() }}
        </p>
    </form>

    {% for post in current_user.posts %}
    <div>
       <p>
            {% include "_post.html" %}
        </p>
    </div>
    {% else %}
    <div>
        <p>
            Il n'y a pas encore de message posté.
        </p>
    </div>
    {% endfor %}
{% endblock %}