<!--
 Page affichant un mot de bienvenu avec le nom de l’utilisateur
 Paramètres :
 user : dictionnaire possédant la clé 'username'
-->
{% extends "base.html" %}

<!-- On définit le contenu du block -->
{% block contenu %}
 <!-- Ici, on se concentre uniquement sur le contenu de la page -->
 <h1>Bonjour {{ user['username'] }}</h1>
    {% for post in posts %}
    <div>
        <p>
            {{ post['author']['username'] }} a dit :
            <b>
                {{ post['body'] }}
            </b>
        </p>
    </div>
    {% else %}
    <div>
        <p>
            Il n'y a pas encore de message posté.
        </p>
    </div>
    {% endfor %}
{% endblock %}