{% extends 'base.html' %}

 {% block css %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
 {% endblock %}

{% block contenu %}
    <h1>Changer le mot de passe</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.password.label }} <br/>
        {{ form.password(size=64, class="w3-input w3-border w3-light-grey",
            placeholder="Nouveau mot de passe")}}
        {% for error in form.password.errors %}
            <span class="erreur">{{ error }}</span>
        {% endfor %}

        {{ form.password2.label }}
        {{ form.password2(size=64, class="w3-input w3-border w3-light-grey",
            placeholder="Retapez le mot de passe")}}
        {% for error in form.password2.errors %}
            <span class="erreur">{{ error }}</span>
        {% endfor %}
    </p>

     <p>{{ form.submit() }}</p>
</form>
{% endblock %}
