<!-- app/templates/user.html -->
<!--
Page de profil de l'utilisateur
Paramètres :
user : de type User
posts : Liste d'objets de type Post
-->
{% extends "base.html" %}
{% block contenu %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}" style="margin:50px" alt=""/></td>
            <td>
                <h1>Utilisateur : {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me}}</p>
                {%endif%}
                {% if user.last_seen %}
                    <p>
                        Dernière visite : {{ user.last_seen }}
                    </p>
                {% endif %}
                <p>
                    {{ user.abonnes.count() }} abonnés, {{ user.abonnement.count() }} abonnements
                </p>
                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('edit_profile') }}">Editer votre profil</a>
                    </p>
                {% elif not current_user.is_abonne(user) %}
                     <p>
                        <a href="{{ url_for('abonner', username=user.username) }} ">S'abonner</a>
                     </p>
                {% else %}
                     <p>
                        <a href="{{ url_for('desabonner', username=user.username) }}">Se désabonner</a>
                     </p>
                {% endif %}
            </td>
        </tr>
</table>

    {% for post in posts %}
        <p>{% include"_post.html" %}</p>
    {% endfor %}

    <div class="btn-container">
        {% if prev_url %}
            <a class="btn btn-left" href="{{ prev_url }}">Page précédente</a>
        {% endif %}
        {% if next_url %}
            <a class="btn btn-right" href="{{ next_url }}">Page suivante</a>
        {% endif %}
    </div>

{% endblock %}