<!-- app/templates/user.html -->
<!--
Page de profil de l'utilisateur
Paramètres :
user : de type User
posts : Liste d'objets de type Post
-->
{% extends "base.html" %}
{% block contenu %}
<h1>Utilisateur : {{ user.username }}</h1>
    {% if user.about_me %}
        <p>
            {{ user.about_me}}
        </p>
    {%endif%}
    {% if user.last_seen %}
        <div class="w3-container w3-right w3-light-blue" style="font-style: italic">
            Dernière visite : {{ moment(user.last_seen).format('LLL') }}
        </div>
    {% endif %}
<hr/>
    {% for post in posts %}
    <p>
        {{ post.author.username }} a dit : <b>{{ post.body }}</b>
    </p>
    {% endfor %}
{% endblock %}